*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --Lemarron: #282828; /* Remplacez cette valeur par la couleur de votre choix */
    --Lebeige: #f0ebce;
    --Lejaune: rgb(255 182 0);
  }

  html {
    scroll-behavior: smooth;
}
section {
    flex-direction: row;
    gap: 20px;
    height: 100vh;
}
.projet_page {
    width: 50vw;
    height: 80vh;
    border: solid 2px var(--Lemarron);
    display: flex;
    flex-direction: column;
    box-shadow: -4px 4px 0px 0px var(--Lemarron);
    transition: 0.1s;
}
.projet_page:hover {
    box-shadow: none;
    transform: translate(-4px, 4px);
}
p {
    font-family: 'coda', sans-serif;
}
a {
    text-decoration: none;
}