*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --Lemarron: #282828; /* Remplacez cette valeur par la couleur de votre choix */
    --Lebeige: #f0ebce;
    --Lejaune: rgb(255 182 0);
  }

  html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--Lebeige);
    background-image: url(Images/background.png);
}
/*NAVIGATION*/
nav {
    padding: 10px;
    position: fixed;
    width: 100%;
    background-color: var(--Lebeige);
    background-image: url(Images/background.png);
    z-index: 10;
}
nav a {
    text-decoration: none;
    color: var(--Lemarron);
}
nav a:hover {
    text-decoration: underline;
}
nav img {
    max-width: 25px;
    margin-right: 5px;
}
nav div {
    display: flex;
}
.alina {
    font-family: 'press start 2p', sans-serif;
}
.burger-menu {
    cursor: pointer;
    display: none; /* Caché par défaut sur les écrans larges */
}
.bar {
    width: 25px;
    height: 3px;
    background-color: var(--Lemarron);
    margin: 5px 0;
}
.menu-list {
    font-family: 'coda', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .menu-list {
        display: none; /* Caché par défaut sur les écrans plus petits */
        flex-direction: column;
        align-items: baseline;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--Lebeige);
        gap: 10px;
        padding: 20px;
    }
    .menu-list.show {
        display: flex;
    }
    .alina {
        display: none;
    }
}
/*HEADER*/

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-bottom: 0;
    gap: 10px;
}
.description_moi {
    position: absolute;
    top: 9%;
    left: -45%;
    z-index: 1;
    border: solid 4px var(--Lemarron);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    transition: 0.1s;
    background-color: var(--Lebeige);
}
.desc_dev {
    max-width: 385px;
    top: 33%;
    left: -43%;
}
.description_moi h2 {
    margin: 15px;
    margin-bottom: 0;
}
.description_moi p {
    font-family: 'courier prime', sans-serif;
    padding: 15px;
    padding-top: 0;
    margin: 0;
    color: var(--Lemarron);
}
section {
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
h1 {
    font-family: 'coda', sans-serif;
    color: var(--Lemarron);
    font-size: 2rem;
    margin: 10px;
}
h2 {
    font-family: 'coda', sans-serif;
    color: var(--Lemarron);
    font-size: 2rem;
    position: relative;
    margin: 10px;
    width: fit-content;
    /* text-shadow: 
    -2px -2px 0 white, 2px -2px 0 white, 
    -2px 2px 0 white, 2px 2px 0 white; */
}
h2::after {
    content: ""; /* Obligatoire pour que le pseudo-élément soit rendu */
    position: absolute;
    bottom: 10px;
    left: -7px;
    width: 115%;
    height: 30%;
    background-color: var(--Lejaune);/* Couleur du rectangle */
    z-index: -1;
}
/* A RPOPOS 2 */
.apropos {
    display: flex;
    border: solid 4px var(--Lemarron);
    margin-left: auto;
    margin-right: 8vw;
    position: relative;
}

.mini_jeu {
    height: 82vh;
}

.questions {
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.696);
    border: solid 2px white;
    height: fit-content;
    padding: 15px;
    padding-right: 30px;
    margin-right: 10px;
    width: 30%;
}
.question {
    font-family: 'silkscreen', sans-serif;
    color: white;
    padding: 10px;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.jeu {
    position: relative;
}
.reponse {
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.696);
    border: solid 2px white;
    height: fit-content;
    padding: 15px;
    padding-right: 30px;
    margin-right: 10px;
    font-family: 'silkscreen', sans-serif;
    color: white;
    width: 80%;
}

.fleche {
    display: none;
    position: absolute;
    transition: all 0.2s;
}

.fleche_svg {
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 5px;
}
/* A PROPOS DE MOI */
/* .tetediv {
    display: flex;
}
.tete {
    max-width: 250px;
    width: 25vw;
    margin: auto;
}
.apropos {
    display: flex;
    width: 100%;
}
.apropos-description {
    width: 100%;
}
.dialogue {
    border: solid 5px var(--Lemarron);
    height: 30vh;
    margin: 10px;
} */

/* PROJETS  */

.projets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    margin: auto;
    gap: 20px;
}
.projet {
    margin: auto;
    border: solid 2px var(--Lemarron);
    width: 100%;
    height: 30vw;
    max-height: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 4px 0px 0px var(--Lemarron);
    transition: 0.1s;
}
.projet:hover {
    box-shadow: none;
    transform: translate(-4px, 4px);
}

.haut {
    height: 40px;
    width: 100%;
    background-color: var(--Lebeige);
    border-bottom: solid 2px var(--Lemarron);
    display: flex;
    align-items: center;
    padding: 5px;
}
h3 {
    font-family: 'coda', sans-serif;
    color: var(--Lemarron);
    margin-right: auto;
}
.carre {
    border: solid 2px var(--Lemarron);
    width: 20px;
    height: 20px;
    margin-left: 5px;
    color: var(--Lemarron);
    font-family: 'coda', sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fichiera {
    border: solid 2px var(--Lemarron);
    width: 80%;
    height: 20%;
    border-bottom: none;
}
.fichierb {
    border: solid 2px var(--Lemarron);
    width: 80%;
    height: 50%;
}

.image_projet {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
/* DESSINS */
.dessinspreview {
    display: flex;
    width: 100%;
    position: relative;
}
.dessin {
    position: absolute;
    z-index: 1;
    margin-bottom: 20px;
    border: solid 4px var(--Lemarron);
    width: 100%;
    height: fit-content;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 4px 0px 0px var(--Lemarron);
    transition: 0.1s;
    background-color: var(--Lebeige);
}
.dessin_1 {
    top: 50px;
    right: -8%;
}
.dessin_3 {
    max-width: 250px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: -1%;
}
.dessin_3 img {
    max-width: 150px;
    padding: 10px;
}
.dessin p {
    padding: 5px;
    font-family: 'courier prime', sans-serif;
}
/* .dessin:hover {
    box-shadow: none;
    transform: translate(-4px, 4px);
} */
.preview {
    border: solid 2px var(--Lemarron);
    width: 100%;
    max-width: 700px;
    height: 85vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Lemarron);
    position: relative;
}
.preview p {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--Lebeige);
    font-family: 'press start 2p', sans-serif;
    background-color: var(--Lemarron);
    padding: 5px;
}
.dessin_image {
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    max-height: 90%;
    margin-top: 40px;
    border: solid 3px var(--Lebeige);
}

.preview .haut {
    position: absolute;
    top: 0;
}
.precedent, .suivant {
    position: absolute;
    background-color: var(--Lemarron);
    width: 8%;
    height: 8%;
    border: solid 3px var(--Lebeige);
    padding: 15px;
    box-shadow: -4px 4px 0px 0px var(--Lebeige);
    transition: 0.2s;
}
.precedent:hover, .suivant:hover {
    box-shadow: none;
    transform: translate(-4px, 4px);
}
.suivant {
    right: 1px;
}
.suivant img {
    transform: scaleX(-1);
}
.precedent {
    left: 5px;
}

/*CONTACT*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts {
    display: flex;
    width: 100%;
}
.contact {
    background-color: var(--Lebeige);
    border: solid 4px var(--Lemarron);
    box-shadow: -4px 4px 0px 0px var(--Lemarron);
    margin: 20px;
    width: 50%;
    transition: 0.2s;
}
.contact:hover {
    box-shadow: none;
    transform: translate(-4px, 4px);
}
.contact p {
    padding: 10px;
}
.retour:hover {
    box-shadow: none;
    transform: translate(-4px, 4px);
}
.retour {
    background-color: var(--Lebeige);
    border: solid 3px var(--Lemarron);
    padding: 10px;
    box-shadow: -4px 4px 0px 0px var(--Lemarron);
    transition: 0.2s;
}
/* A SUPPRIMER */

.visible {
    display: block;
}